@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/fondo.gif');
    background-repeat: no-repeat;
    background-size: cover; 
    
    background-position: center; 
    
}


.navbar {
    font-family: 'Kaushan Script', cursive;  
    background-color: #FF91A4; 
    border-radius: 12px; 
    border: solid #fff;
}

.navbar-brand.menu i {
    font-size: 2rem;
    color: #FFF4E6; 
}

.nav-link {
    color: #FFF4E6 !important;  
    transition: transform 0.3s ease; 
}

.nav-link:hover {
    transform: scale(1.1);  
}
.nav-item{
margin: 0 10px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.img-edit {
    width: 100em;
    height: auto;
    position:  sticky;
    border-radius: 20px;

}


/* Contenedor del globo */



.globo-pensamiento {
    position: relative;
    width: 310px;
    height: 100px;
    padding: 0 5px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin-left: 950px;
    margin-top: 400px;
    transition: all 3s;
}


.globo-pensamiento::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .globo-pensamiento {
        display: none;
    }
}


.globo-pensamiento:hover{

border: #005e solid;
transition: 3s;

}

section.container:not(.no-style) {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
}
.anime-theme {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    font-family: 'Arial', sans-serif; 
}

.anime-theme h1, .anime-theme h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}


.anime-gallery {
    position: relative;
   right: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.anime-gallery img {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.anime-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
div h1.ed{
position: relative;
bottom: 10em;
color: #f00;

}
div p.esp{
    font-family: 'Kaushan Script', cursive;  
position: relative;
bottom: 10em;
left: 200px;
    color: #00f;
    font-size: 24px;
}
.anime-theme h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #555;
    font-size: 14px;
}
